.progress {
  background-color: white;
}

.container {
  padding: 0;
}

.card-img-top {
  width: 13.2rem;
  height: 13.2rem;
  object-fit: cover;
}

.card {
  border: none;
}

.inner-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #FFF;
}

.card-top {
  // padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-right > a {
  text-decoration: none;
}

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 1px;
}

.add-goal-button {
  font-size: 3rem;
}

.card-min-height {
  min-height: 320px;
}
