.progress {
  background-color: white;
}

.container {
  padding: 0;
}

.card-img-top {
  width: 50%;
}

.card {
  border: none;
}

.goal-card {
  position: relative;
}

.goal-card-link-show {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.goal-card-link-show:hover {
  text-decoration: none;
}

.linkable:hover{
    background-color: #e9ecef;
    opacity: 0.3;
}
.inner-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #FFF;
}

.card-top {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-right {
  position: absolute;
  right: 15px;
}

.float-right > a {
  text-decoration: none;
}

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 1px;
}

.add-goal-button {
  font-size: 3rem;
}

.card-min-height {
  min-height: 320px;
}
