.registration > .card {
  width: 50rem;
  margin: 0 auto;
  float: none;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  .btn {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px
  }
  h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2rem;
  }
}

.registration-brand {
  width:250px;
  height:250px;
  margin-top: 140px;
  align-content: center;
}

.registration-brand-text {
  text-align: center;
}
