<head>
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar" id="navbar">
      <ul class="navbar-nav">
          <li class="logo">
            <a href="/" class="nav-links">
              <span class="link-text logo-text">One Dollar</span>
              <%= image_tag("logo-removedbg.png", class: "logo-img") %>
            </a>
          </li>

          <li class="nav-item">
            <a href="/dashboard" class="nav-links">
              <i class="fas fa-chalkboard"></i>
              <span class="link-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/goals" class="nav-links">
              <i class="fas fa-bullseye"></i>
              <span class="link-text">Archived Goals</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/taxcalc" class="nav-links">
              <i class="fas fa-calculator"></i>
              <span class="link-text">Tax Calculator</span>
            </a>
          </li>

          <li class="nav-item nav-links" id="LogButton">
            <%= link_to edit_user_registration_path do %>
              <i class="fas fa-cogs"></i>
              <span class="link-text">Settings</span>
            <% end %>
          </li>
          <li class="nav-item nav-links" id="LogButton">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
              <span class="link-text">Log Out</span>
            <% end %>
          </li>
      </ul>
    </nav>
</body>
