<head>
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="logo">
            <a href="/" class="nav-link">
              <span class="link-text logo-text">One Dollar</span>
              <%= image_tag("logo-removedbg.png", class: "logo-img") %>
            </a>
          </li>

          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="fas fa-chalkboard"></i>
              <span class="link-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/goals" class="nav-link">
              <i class="fas fa-bullseye"></i>
              <span class="link-text">Goals</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-clipboard"></i>
              <span class="link-text">Reports</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-cogs"></i>
              <span class="link-text">Account Information</span>
            </a>
          </li>

          <li class="nav-item nav-link" id="LogButton">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
              <span class="link-text">Log Out</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item nav-link" id="LogButton">
            <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-out-alt"></i>
              <span class="link-text">Log In</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
</body>
