<div class="jumbotron text-center">
  <h1 class="display-4"><%= "Welcome back, #{current_user.first_name} #{current_user.last_name}!"%></h1>
  <p class="lead"><%= Faker::Movie.quote %></p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="goals/new" role="button">Add A New Goal</a>
  </p>
</div>
