<div class="main">
  <div class="container">
    <br>
    <div class="d-flex justify-content-around">
      <div>
          <h1>Start saving today</h1>
          <p>Save your gold, achieve your goals</p>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary"%>
      </div>
        <div>
          <h1>Photo</h1>
      </div>
    </div>
  </div>
</div>
