<div class="banner">
  <div class="mx-10 p-6 mb-0">
    <h1 class="heading-colour font-weight-900">Tax Calculator </h1>
    <br>
    <%# <h2 class="text-white font-weight-900"><h2> %>
    <p class="text-size text-white">Start by seeing how much you have after tax, to put aside</p>
  </div>
</div>

<div class="container taxcalc-container position-relative">
  <div id="atataxcalculator" class="atataxcalculator-green"><div class="atataxcalculator-options atataxcalculator-show-up"></div><div class="atataxcalculator-table atataxcalculator-show-up"></div><div class="atataxcalculator-anchors atataxcalculator-show-up"><p>Tax Calculator from <a href="https://calculatorsonline.com.au">calculatorsonline.com.au</a></p></div></div><script type="text/javascript" src="//calculatorsonline.com.au/external/!main/widget.min.js"></script>

</div>
