<div class="container">
    <h1>Your Goal </h1> <br>
    <h2><%= @goal.title.capitalize %><h2>
    <div>
      <p>Description: <%= @goal.description %></p>
      <p>Amount: <%= @goal.amount %></p>
    </div>
</div>
